[SddmGreeterTheme]
# Put this file in /usr/share/sddm/themes/sddm-astronaut-theme
Name=gruvbox
Description=sddm-astronaut-theme
Author=keyitdev
Website=https://github.com/Keyitdev/sddm-astronaut-theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.3
ConfigFile=Themes/gruvbox.conf
Screenshot=Backgrounds/arch-gruvbox.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-astronaut-theme
Theme-API=2.0
QtVersion=6
