[Desktop Entry]
Name=ChatGPT
Exec=brave --app="https://www.chatgpt.com"
Icon=chatgpt
Type=Application
Categories=Utilities;Network;
StartupNotify=true
