[Desktop Entry]
Name=Claude
Exec=chromium --app="https://www.claude.ai"
Icon=claude
Type=Application
Categories=Utilities;Network;
StartupNotify=true
