[Desktop Entry]
Name=Microsoft Excel
Exec=chromium --app="https://excel.cloud.microsoft/"
Icon=excel
Type=Application
Categories=Utilities;Mircrosoft;
StartupNotify=true
