[Desktop Entry]
Name=TickTick
Exec=chromium --app="https://ticktick.com/webapp/#q/all/tasks"
Icon=ticktick
Type=Application
Categories=Utilities;Network;
StartupNotify=true
